.THIS {
    background-color :red;
    font-size :40px;
    
}
.THIS .red {
    color:red;
    
}
.THIS .yellow {
    color:yellow;
    
}
.THIS .green {
    color:green;
    
}
.THIS .blue {
    color:blue;
    
}
.THIS .orange{
    color:orange;
    
}